.panel {
  -fx-background-color: #636363;
  -fx-focus-color: transparent;
  -fx-hgap: 1;
  -fx-vgap: 2;
  -fx-alignment: center;
}
.btn.large {
  -fx-pref-width: 121px;
}
.btn {
  -fx-cursor: hand;
  -fx-text-fill: white;
  -fx-pref-width: 60px;
  -fx-pref-height: 50px;
  -fx-border-radius: 0px;
  -fx-background-radius: 0px;
  -fx-font-size: 18px;
}
.btn:hover {
  -fx-background-color: #a1a1a1;
  -fx-padding: 0;
}
.btn:focused {
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.operator {
  -fx-background-color: #FF9500;
}
.operator:hover {
  -fx-background-color: #cc9500;
}
.number {
  -fx-background-color: #8c8c8c;
}
.function {
  -fx-background-color: #737373;
}
.display {
  -fx-font-size: 30px;
  -fx-text-fill: white;
  -fx-pref-height: 60px;
  -fx-pref-width: 243px;
  -fx-alignment: bottom-right;
}
