.menu {
  -fx-background-color: #636363;
  -fx-focus-color: transparent;
  -fx-hgap: 1;
  -fx-vgap: 20;
  -fx-alignment: center;
  -fx-pref-height: 200px;
  -fx-pref-width: 400px;
}
.btn {
  -fx-cursor: hand;
  -fx-text-fill: white;
  -fx-pref-width: 260px;
  -fx-pref-height: 50px;
  -fx-border-radius: 0px;
  -fx-background-radius: 0px;
  -fx-font-size: 18px;
  -fx-background-color: #FF9500;
}
.btn:hover {
  -fx-background-color: #cc9500;
  -fx-padding: 0;
}
.btn:focused {
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.display {
  -fx-font-size: 30px;
  -fx-text-fill: white;
  -fx-pref-height: 60px;
  -fx-pref-width: 243px;
  -fx-alignment: bottom-right;
  -fx-text-overrun: clip;
}
